[submodule "kimim-emacs-everywhere"]
	path = kimikit/autohotkey/kimim-emacs-everywhere
	url = git@github.com:kimim/kimim-emacs-everywhere.git
[submodule "rime-ice"]
	path = kimikit/rime
	url = git@github.com:iDvel/rime-ice.git
