home
bin
dev
var
usr
etc
proc
tmp
mingw64
texlive
kimikit
i386
autorebase.bat
msys2_shell.cmd
mingw32.exe
mingw32.ico
mingw32.ini
mingw64.exe
mingw64.ico
mingw64.ini
msys2.exe
msys2.ico
msys2.ini
ucrt64.exe
ucrt64.ico
ucrt64.ini
clang64.exe
clang64.ico
clang64.ini
components.xml
installerResources
InstallationLog.txt
clang32.exe
clang32.ico
clang32.ini
clangarm64.ico
installer.dat
network.xml
uninstall.dat
uninstall.exe
uninstall.ini

local-shell.bat
local-emacs-server.bat
local-emacs-server.vbs
local-emacs.bat
local-emacs.vbs
local-emacsclient.bat
local-emacsclient.vbs
