[submodule "kimim-emacs-everywhere"]
	path = kimikit/autohotkey/kimim-emacs-everywhere
	url = git@github.com:kimim/kimim-emacs-everywhere.git
[submodule "beamertheme-hippo"]
	path = texlive/texmf-local/tex/latex/beamertheme-hippo
	url = git@github.com:kimim/beamertheme-hippo.git
